/*
body {
    background: #000;
    font-family: Arial, Helvetica;
    font-size: 12px;
    color: #fff;
}
*/

a {
    text-decoration: none;
    color: #ffff;
}

.roundL {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 50%;
    left: 0px;
    margin-left: 33px;

}

.roundR {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 50%;
    right: 0px;
    margin-right: 33px;

}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

#cta .arrow {
    left: 30%;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: -15%;
    width: 2em;
    height: 2em;
    background-size: contain;
    top: 50%;
}

.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

.prev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xOTIuOSwyOTVjLTIwLjItMjAuMi0xOS45LTUzLjIsMC42LTczLjdzNTMuNS0yMC44LDczLjctMC42bDE5MCwxOTBjMjAuMSwyMC4yLDE5LjgsNTMuMi0wLjcsNzMuNw0KCWMtMjAuNSwyMC41LTUzLjUsMjAuOC03My42LDAuNkwxOTIuOSwyOTV6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTkyLjksMjIxLjVjLTIwLjIsMjAuMi0xOS45LDUzLjIsMC42LDczLjdzNTMuNSwyMC44LDczLjcsMC42bDE5MC0xOTBjMjAuMi0yMC4yLDE5LjktNTMuMi0wLjYtNzMuNw0KCXMtNTMuNS0yMC44LTczLjctMC42TDE5Mi45LDIyMS41TDE5Mi45LDIyMS41eiIvPg0KPC9zdmc+);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(1.6em) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-1.6em) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes bounceAlphaL {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(-1.6em) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(1.6em) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}


.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.roundR:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.roundR:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/**/
.bounceAlphaL {
    animation-name: bounceAlphaL;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.segunda.bounceAlphaL {
    animation-name: bounceAlphL;

    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.roundL:hover .arrow {
    animation-name: bounceAlphaL;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.roundL:hover .arrow.segunda {
    animation-name: bounceAlphaL;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}